.plan {
    margin-bottom: 168px;
    
    @media only screen and (max-width:1100px) {
        margin-bottom: 144px;
    }
    
    @media only screen and (max-width:650px) {
        margin-bottom: 120px;
    }
    
    &__wrapper{
        background-image: url(./../img/bg-plan.jpg);
        background-repeat: no-repeat;
        padding: 134px 0 134px 85px;
        object-fit: contain;
        border-color: #A2A2A2;
        border-radius: 10px;

        @media only screen and (max-width:1100px) {
            padding: 127px 0 127px 58px;
        }
        @media only screen and (max-width:800px) {
            background-image: url(./../../img/table-plan.jpg);
            width: 100%;
        }
    }
    
    &__heading{
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        color: #FEFCF7;
        margin-bottom: 32px;

         @media only screen and (max-width:1100px) {
            font-size: 48px;
            line-height: 48px;
            margin-bottom: 24px;
        }
    }
    
    &__text{
        max-width: 445px;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: rgb(254, 252, 247, 0.8);  

         @media only screen and (max-width:1100px) {
            font-size: 15px;
            line-height: 25px;
        }
    }
}